<section ng-init="cueLoginInit()">
    <h1>Login or Register</h1>
    <div class="list">
        <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
            <input type="text" placeholder="Email" ng-model="account.email">
        </label>
        <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="account.password">
        </label>
        <button class="danger" ng-click="login()">Login</button>
        <button ng-click="register()">Register</button>
    </div>
</section>