<section ng-init="cueLoginInit()">
    <div class="list padding">
    <h1>Login or Register</h1>
        <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
            <input type="email" placeholder="Email" ng-model="account.email">
        </label>
        <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="account.password">
        </label>
        <div class="button-bar">
            <button class="button button-positive" ng-click="login()">Login</button>
            <button class="button button-dark" ng-click="register()">Register</button>
        </div>
    </div>
</section>