<div ng-init="mainMenuInit()">
    <div class="list padding">
        <h1>Main Menu</h1>
        <input class="padding" type="text" name="" ng-model="searchTerm" placeholder="Catalog Number">
        <button class="button button-positive button-full" ng-click="searchByCatNumber()">Search By Catalog Number</button>
        <button class="button button-calm button-full" ng-click="scanBarcode()">Scan a Barcode</button>
        <!-- <a style="text-decoration: none;" ng-href="#/bag"><button class="button button-balanced button-full">View My Bag</button></a> -->
        <!-- <a style="text-decoration: none;" ng-href="#/trips"><button class="button button-calm button-full">View Previous Trips</button></a> -->
    </div>
    <!-- <button ng-click="addRickAstley()">Add Rick Astley To Your Collection</button> -->
    <div class="list padding">
        <div ng-repeat="release in searchResultsArray">
            <div class="card">
                <h4>{{release.title}}</h4>
                <h5>{{release.label[0]}}</h5>
                <div><img src="{{release.thumb}}"/></span></div>
                <div><p>{{release.format[0]}} {{release.format[1]}}</p></div>
                <div><p>{{release.barcode[0]}}</p></div>
                <div><p>{{release.barcode[1]}}</p></div>
                <h4>{{release.year}}</h6>
                <div><button class="button button-positive button-full" ng-click="addReleaseToBag(release.resource_url, release.thumb)">Add Release To Bag</button></div>
            </div>
        </div>
    </div>
</div>